body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    padding: 0 200px;
}

header a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

.right-links {
    display: flex;
    gap: 28px;
}

.left-links a{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.right-links a{
    font-size: 18px;
    color: #e5e7eb;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 40px;
}

.section-1 .left-container{
    max-width: 600px;
}

.section-1 .right-container{
    width: 800px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    margin: 0 0 16px 0;
    font-size: 18px;
    color: #e5e7eb;
}

.section-1 .main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding-right: 50px;
    margin: 0;
}
.section-1 button{
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.section-1 img{
    width: 100px;
    object-fit: contain;
    rotate: 90deg;
}


.section-2 {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.information-title {
    margin: 36px 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
    padding: 0 100px;
    justify-content: center;
}

.image{
    width: 200px;
    height: 200px;
    border: #3882f6 4px solid;
    border-radius: 16px;
    margin-bottom: 8px;
}

.description p{
    margin: 0;
    font-size: 18px;
    color: #1f2937;
}

.section-2 .description{
    flex-wrap: wrap;
    text-align: center;
}

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    padding: 100px 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-3 .message{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    text-align: center;
}

.section-3 .author{
    font-size: 24px;
    color: #1f2937;
    font-weight: 700;
    text-align: right;
    margin-right: 16px;
}
/* 
@media (max-width: 1600px) {
    body {
        padding: 0 300px;
    }
}

@media (max-width: 1200px) {
    body {
        padding: 0 100px;
    }
} */
